:root {
	--pocket-default: #dedfdf;
	--pocket-text: #221814;

	--active-card-rotateY: 0;
	--active-card-rotateX: 0;
}

@font-face {
	font-family: "Cabin";
	src: local("Cabin"), url(../../assets/Cabin/cabin-variable.ttf) format("truetype-variations");
}



.cardRenderer {
	position: relative;
	transform-style: preserve-3d;
	transition: 0.5s;
	transform: perspective(1000px) rotateY(var(--active-card-rotateY)) rotateX(var(--active-card-rotateX));

	overflow: hidden;
	
	aspect-ratio: 750 / 1050;
	height: 70dvh;
	font-family: Gill Sans,Gill Sans MT;
	font-style: bold;
	color: var(--pocket-text);

	.cardContent > div {
		position: absolute;
	}

	.cardContent {
		position: absolute;
		width: 100%;
		height: 100%;

		.cardHeader {
			width: 100%;
			z-index: 10;

			.cardName {
				position: absolute;
				text-align: left;
				font-size: 1.7rem;
				font-weight: 900;
				margin: 0;
				margin-top: 4%;
				margin-left: 18.6%;
				/* letter-spacing: 1.5px; */
		
			}
		}
	
		.cardBorder {
			z-index: -1;
			/* background-color: var(--pocket-default); */
			width: 100%;
			height: 100%;
		
			border-radius: 1rem;
	
			display: flex;
			justify-content: center;
			align-items: center;
	
			svg.cardHollow {
				border-radius: 1rem;
				width: 100%;
				height: 100%;
		
				rect {
					width: 100%;
					height: 100%;
					background-color: red;
					fill: none;
					stroke: var(--pocket-default);
					stroke-width: 2.3rem;
				}
			}
		}


		.cardArtbox {
			img.cardArtImage {
				margin-top: 3.65rem;
				width: 84%;
			}
		}

	}

	
	
}


.debugHelpers {
	
	img {
		
		position: relative;
		z-index: -10;
		/* width: 45dvh; */
		height: 70dvh;
		opacity: 0.3;
	}
}