:root {
	--pocket-default: #dedfdf;
	--pocket-text: #221814;

	--active-card-rotateY: 0;
	--active-card-rotateX: 0;
}



.cardRenderer {
	position: relative;
	transform-style: preserve-3d;
	transition: 0.5s;
	transform: perspective(1000px) rotateY(var(--active-card-rotateY)) rotateX(var(--active-card-rotateX));

	overflow: hidden;
	
	aspect-ratio: 750 / 1050;
	height: 50dvh;
	font-family: Gill Sans,Gill Sans MT;
	font-weight: bold;
	color: var(--pocket-text);

	.cardContent > div {
		position: absolute;
	}


}


